* { box-sizing: border-box; margin: 0; padding: 0; }

body { background-color: #fff; }
h1 { color: black; font-family: roboto; display: flex; }
p { color: gray; }
img { max-width: 100%; flex-shrink: 0; }
ul { list-style: none; }

header {
    position: relative;

    background-image: url("https://www.americommerce.com/Shared/2017Content/common/images/ecommerce-software.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 0;
}

.scrim:before { content: ""; display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: var(--scrim); z-index: 0; }

/* Skew Effect */
.skew {
    width: 100%;
    display: block;
    height: 200px;
    background: white;
    position: absolute;
    top: calc(100% - 100px); left: 0;
    z-index: 1;
    transform: skewY(-4deg);
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
}

main { background: var(--bg-lite-primary); }
footer { background: var(--bg-dark-primary); }

h2 { font-size: 28px; font-weight: 700; line-height: 32px; height: 47px; margin-bottom: 15px; position: relative; }
h2:after { 
    content: "";
    display: block;
    background: rgb(255, 112, 62);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 90px;
    height: 3px;
}

h3 { font-size: 16px; font-weight: 500; line-height: 26px; }
p { font-size: 15px; line-height: 30px; }

.flex-vertical,
.flex-horizontal { min-height: 1px; min-width: 1px; }

.flex-vertical > *,
.flex-horizontal > * { min-height: 1px; min-width: 1px; }


@media (min-width: 0) and (max-width: 768px) {
    .wrapper { width: 100%; margin: 0 auto; }
}
@media (min-width: 769px) and (max-width: 1024px) { 
    .wrapper { width: 95%; margin: 0 auto; }
}
@media (min-width: 1025px) { 
    .wrapper { width: 100%; max-width: 1300px; margin: 0 auto; }
}