/*
  _______ _    _ ______ __  __ ______
 |__   __| |  | |  ____|  \/  |  ____|
    | |  | |__| | |__  | \  / | |__
    | |  |  __  |  __| | |\/| |  __|
    | |  | |  | | |____| |  | | |____
    |_|  |_|  |_|______|_|  |_|______|

*/


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root { 
    /* Theme (Lite) */
	  --theme-primary:    #0E0E0F;
	  --theme-secondary:  #222222;
	  --theme-tertiary:   #494D54;
    --theme-accent:     #ff703e;
    
    /* Theme (Dark) */
    --bg-lite-primary:       #fff;
    --bg-lite-secondary:     #F5F4F4;
    --bg-dark-primary:       #323031;

    /* Theme */
    --text-lite-primary:       #0E0E0F;
    --text-lite-secondary:     #222222;
    --text-dark-primary:       #323031;

    /* Typography */
    --display-1:      14px;
    --display-2:      14px;
    --display-3:      14px;
    --display-4:      14px;
    --title:          14px;
    --heading:        14px;
    --subheading:     14px;
    --body-1:         14px;
    --body-2:         14px;
    --button:         14px;
    --caption:        14px;
    
    /* Transparency */
    --scrim:  rgba(0,0,0,.64);

}


/* Global Styles */
* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  font-family: Roboto, sans-serif;
  background:#fff;
  font-size: 14px;
  overflow-x: hidden;
}

figure { margin: 0; }
h1 { color: black; font-family: roboto; }
h2 { color: #0E0E0F; }
h3 { color: #0B0816; }
p { color: #494D54; }
img { max-width: 100%; flex-shrink: 0; }
ul { list-style: none; }
a { text-decoration: none; color:#ff703e; }
p { line-height: 2; font-size: 16px; }
